@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="grid-container2">
    <div class="grid-item2 bg-blue">
        Sed nec elit vestibulum, <b>tincidunt orci</b> et, sagittis<br>
        ex. Vestibulum rutrum <b>neque suscipit</b> ante<br>
        mattis maximus. Nulla non sapien <b>
            viverra,<br>
            lobortis lorem non
        </b>, accumsan metus.<br>
    </div>
        <img src="~/pilt.jpg" />
</div>

<div class="grid-container6 txt-middle-of-box">
    <div class="grid-container3 bg-blue">
        <div class="grid-item3">
            Tulevased üritused
        </div>
    </div>
    <div class="grid-container5 bg-blue">
        <div class="grid-item3">
            Toimunud üritused
        </div>
    </div>

    <div class="container-event">
        <div class="event-list-event border-bottom">
            <div>1. pealkiri</div>
            <div>19.08.2023</div>
            <div>Osavõtjad</div>
            <div>X</div>
        </div>
    </div>
    <div class="container-event">
        <div class="event-list-event border-bottom">
            <div>1. pealkiri</div>
            <div>19.08.2023</div>
            <div>Osavõtjad</div>
            <div>X</div>
        </div>
    </div>
</div>





