@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="grid-container2">
        <div class="grid-item2 bg-blue">
            Sed nec elit vestibulum, <b>tincidunt orci</b> et, sagittis<br>
            ex. Vestibulum rutrum <b>neque suscipit</b> ante<br>
            mattis maximus. Nulla non sapien <b>
                viverra,<br>
                lobortis lorem non
            </b>, accumsan metus.<br>
        </div>
        <div class="grid-item2">
            <img src="~/pilt.jpg" />
        </div>
    </div>
</div>
