@page
@model praktikaylrik.Pages.ParticipantInfoModel
@{
    ViewData["Title"] = "Osavõtja info";
}


<div class="bg-white">
    <div class="grid-container-add-event">
        <div class="grid-item-add-event bg-blue">
            Osavõtja info
        </div>
        <div><img class="add-event-img" src="~/libled.jpg" /></div>
    </div>

    <div class="add-event-form">
        <div class="add-event-caption">
            Osavõtja info
        </div>
        <form>
            <div class="form-container">
                <label class="form-container-detail" for="fname">Eesnimi</label>
                <input class="form-container-detail" type="text" id="fname" name="fname" />
                <label class="form-container-detail" for="lname">Perenimi:</label>
                <input class="form-container-detail" type="text" id="lname" name="lname" />
                <label class="form-container-detail" for="idcode">Isikukood:</label>
                <input class="form-container-detail" type="number" id="idcode" name="idcode" />
                <label class="form-container-detail" for="payment">Maksmisviis:</label>
                <select class="form-container-detail" name="payment" id="payment">
                    <option>Sularaha</option>
                    <option>Pangaülekanne</option>
                </select>
                <label class="form-container-detail" for="add-info">Lisainfo:</label>
                <textarea class="form-container-detail" id="add-info" name="add-info" rows="3" cols="60"></textarea>
            </div>
            <br />
            <br />
            <input class="form-button" type="button" value="Tagasi" />
            <input class="form-button bg-blue" type="submit" value="Salvesta" />
        </form>
    </div>
</div>