html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.full-page {
    background-color: #eff2f4;
}

.logo {
    padding-left: 1rem;
    padding-right: 10rem;
}

.symbol {
    padding-right: 1rem;
}

body {
    margin-bottom: 60px;    
}

.footer-title {
    font-size: 25px;
}

.footer-content {
    font-size: 15px;
}

.grid-container2 {
    height: 19rem;
    display: grid;
    align-content: center;
    grid-template-columns: 40rem auto;
}

.grid-item2 {
    padding-top: 6rem;
    padding-left: 6rem;
    font-size: 22px;
    text-align: left;
    color: #ffffff;
}

.bg-blue {
    background-color: #005aa1;
    color: #ffffff;
}

.txt-middle-of-box {
    vertical-align: middle;
    align-content: center;
    text-align: center;
}

.grid-container3 {
    height: 5rem;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 22px;
    text-align: center;
    margin-right: 1rem;
    align-content: center;
}

.grid-item3 {
    padding-left: 48%;
    text-align: center;
    color: #ffffff;
    border-width: 5px;
    border-color: black;
}

.grid-container4 {
    background-color: #373737;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 2.5rem;
}

.grid-item4 {
    text-align: left;
    color: #e0e0e0;
}

.grid-container5 {
    align-content: center;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 22px;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid-container6 {
    align-content: center;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 22px;
    text-align: center;
}

.event-list-event {
    display: grid;
    grid-template-columns: 370px 90px 90px 5px;
    font-size: 15px;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 16rem;
}

.container-event {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    
}

.grid-container-add-event {
    display: grid;
    grid-template-columns: 15rem 89rem;
    max-height: 70px;

}

.grid-item-add-event {
    padding-top: 0.5rem;
    height: 70px;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
}

.add-event-img {
    object-fit: cover;
    height: 70px;
    width: 74%;
}

.add-event-form {
    padding-top: 1rem;
    align-content: center;
    text-align: left;
    width: 50%;
    margin: auto;
}

.form-container {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 150px 300px;
    text-align: left;
}

.form-container-detail {
    margin: 0.2rem;
}

.add-event-caption {
    color: #0d5899;
    font-size: 20px;
    text-align: left;
}

.form-button {
    border-radius: 3px;
    width: 70px;
}

.participants {
    display: grid;
    grid-template-columns: 130px 200px;
}

.participants-list {
    display: grid;
    grid-template-columns: 250px 140px 60px 60px;
}

.participants-body {
    padding-top: 1rem;
    width: 50%;
    margin: auto;
}