<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - praktikaylrik</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/praktikaylrik.styles.css" asp-append-version="true" />
</head>
<body class="full-page">
    <header class="container">
        <nav class="navbar navbar-expand-sm mb-3 bg-white">
            <div class="container">
                <a asp-page="/Index" class="logo"><img src="~/logo.svg" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Avaleht</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Ürituse lisamine</a>
                        </li>
                    </ul>
                </div>
                <img class="symbol" src="~/symbol.svg" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            <div class="grid-container4">
                <div class="grid-item4 footer-title">
                    Curabitur
                </div>
                <div class="grid-item4 footer-title">
                    Fusce
                </div>
                <div class="grid-item4 footer-title">
                    Kontakt
                </div>
                <div class="grid-item4 footer-title">
                </div>
                <div class="grid-item4 footer-content">
                    Emauris
                    <br> Kfringilla
                    <br> Oin magna sem
                    <br> Kelementum              
                </div>
                <div class="grid-item4 footer-content">
                    Ecosectetur
                    <br> Ksollicitudin
                    <br> Omvulputate
                    <br> Nunc fringilla tellu
                </div>
                <div class="grid-item4 footer-content">
                    <b>Peakontor: Tallinnas</b>
                    <br> Väike-Ameerika 1, 11415 Tallinn
                    <br> Telefon: 605 4450
                    <br> Faks: 605 3186
                </div>
                <div class="grid-item4 footer-content">
                    <b>Harukontor: Võrus</b>
                    <br> Oja tn 7 (külastusaadress)
                    <br> Telefon: 605 3330
                    <br> Faks: 605 3155
                </div>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>